.erp-job-container {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.erp-job-container label {
    display: block;
    margin-top: 10px;
}

.erp-job-container input[type="text"],
.erp-job-container input[type="email"],
.erp-job-container textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.erp-job-container input[type="file"] {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.erp-job-container textarea {
    height: 100px;
}

.erp-job-container .btn {
    background-color: #007bff;
    color: #fff;
    padding: 15px 50px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.erp-job-container .btn:hover {
    background-color: #0056b3;
}

/* The Modal (background) */
.erp-job-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.erp-job-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    margin-top: 200px;
    height: 80px;
}

.erp-job-modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.erp-job-modal-close:hover,
.erp-job-modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}